.price-level-bar-container {
  display: flex;
  align-items: center;
}

.price-level-bar-price-icon {
  width: 10.6px;
  height: 7px;
  margin-right: 7.4px;
  object-fit: contain;
  transform: rotate(-30deg);
}

.price-level-bar-tier-container{
  width: 60px;
  height: 3px;
  object-fit: contain;
}