.recent-search-list-wrapper {
  width: 290px;
  height: 600px;
  padding-top: 39px;
  object-fit: contain;
  background-color: #ffffff;
  box-shadow: 0 0 34px 0 rgba(255, 95, 95, 0.32);

  font-family: 'Gotham', sans-serif;
  font-size: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent-search-list-header{
  font-size: 16px;
  font-weight: 500;
  color: #4a4a4a;
}

.recent-search-list-header-line{
  width: 70px;
  height: 2px;
  margin-top: 27px;
}

.recent-search-list-container{
  margin-top: 16px;

  font-size: 14px;
  font-weight: 500;
  color: #9b9b9b;

  display: flex;
  flex-direction: column;
  align-items: center;
}
