.search-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 85%;
  min-height: 600px;

  background-size: cover;
}

.search-page-header-logo {
  width: 454px;
  height: 228px;
}

.search-page-header-text {
  margin-top: 23px;

  font-family: 'Gotham', sans-serif;
  font-size: 55px;
  font-weight: 200;
  text-align: center;
  color: #ffffff;
}

.search-page-content-text {
  margin-top: 17px;

  font-family: 'Gotham', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

.search-page-search-form{
  margin-top: 65px;
}

.search-page-footer{
  height: 15%;
}