.venue-page-photo-container {
  position: relative;
  margin-bottom: 20px;
}

.venue-page-photo-container:hover .venue-page-photo-info-container {
  display: flex;
}

.venue-page-photo-info-container {
  width: 290px;
  height: 290px;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Gotham', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

.venue-page-photo-info-user-photo-wrapper {
  margin-bottom: 21px;
}

.venue-page-photo-info-user-photo-container {
  width: 40px;
  height: 40px;

  transform: rotate(-45deg);

  overflow: hidden;
}

.venue-page-photo-info-user-photo {
  width: 60px;
  height: 60px;
  margin: -10px;

  transform: rotate(45deg);
}
