.venue-card-wrapper {
  width: 290px;
  height: 290px;
  margin-bottom: 20px;
}

.venue-card-container {
  box-sizing: border-box;
  padding: 0 14px 5px 20px;

  width: 290px;
  height: 290px;

  font-family: 'Gotham', sans-serif;
  color: white;
  text-decoration: none !important;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-blend-mode: darken;

  position: sticky;
}

.venue-card-triangle {
  width: 91px;
  height: 46px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.venue-card-venue-name {
  font-size: 25px;
  margin-bottom: 10px;
}

.venue-card-line {
  width: 48px;
  height: 2px;
  object-fit: contain;
  margin-bottom: 13px;
}

.venue-card-bottom-wrapper {
  display: flex;
  flex-direction: column;
}

.venue-card-bottom-line-wrapper {
  display: flex;
}

.venue-card-here-now {
  font-size: 12px;
  font-weight: 500;
  margin-right: 22px;
}

.venue-card-here-now-icon {
  width: 10px;
  height: 10px;
  object-fit: contain;
  margin-right: 7px;
}

.venue-card-rate {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  align-self: flex-end;
  width: 65px;
}


