.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 583px;
}

.search-form-input {
  border: none;
  margin-right: 1%;
}

.search-form-input-text {
  padding: 16px 0 15px 20px;
  font-weight: 500;
  font-family: 'Gotham', sans-serif;
}

.search-form-query-input {
  height: 45px;
  border-radius: 4px;
  box-shadow: 0 12px 21px 0 rgba(0, 0, 0, 0.24);
  flex-grow: 3;
  flex-basis: 285px;
}

.search-form-location-text-input {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 12px 21px 0 rgba(0, 0, 0, 0.24);
  height: 45px;
  flex-grow: 2;
  flex-basis: 156px;
}

.search-form-submit {
  border: none;
  margin-right: 1%;
  border-radius: 4px;
  background-color: #ff5f5f;
  box-shadow: 0 12px 21px 0 rgba(0, 0, 0, 0.24);
  height: 45px;
  font-family: 'fontello', sans-serif;
  font-size: 24px;
  color: white;
  cursor: pointer;
  flex-grow: 1;
  flex-basis: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
}
