.venue-info-container {
  background-size: cover;
}

.venue-info-container-filter {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.venue-info-venue-name {
  width: 931px;
  height: 64px;
  margin-bottom: 28px;

  font-family: Gotham, sans-serif;
  font-size: 64px;
  font-weight: 300;
  color: #ffffff;

  align-self: center;
  overflow: scroll;
}

.venue-info-header-logos-container {
  align-self: center;
  position: absolute;
  top: 0;
}

.venue-info-header-logo {
  width: 454px;
  height: 228px;
}

.venue-info-category-frame {
  width: 252px;
  height: 252px;
  position: absolute;
  top: 108px;
  left: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.venue-info-category-icon {
}

.venue-info-venue-details-container {
  height: 115px;

  opacity: 0.8;
  background-image: linear-gradient(95deg, #1e0db4, #e44747);

  display: flex;
  justify-content: center;
}

.venue-info-venue-details {
  height: 115px;
  max-width: 931px;
  font-family: 'Gotham', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;

  flex-basis: 931px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: relative;
}

.venue-info-venue-details-rating {
  position: absolute;
  right: 0;
  top: -45px;
  width: 93px;
  height: 93px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.venue-info-venue-details-address-icon {
  margin-right: 7.9px;
}

.venue-info-venue-details-phone-icon {
  margin-right: 6px;
}

.venue-info-venue-details-inner-container {
  display: flex;
}

.venue-info-venue-details-inner-here-now {
  margin-right: 22px;
}

.venue-info-venue-details-inner-here-now-icon {
  margin-right: 8px;
}