.venue-page-container {
  display: flex;
  flex-direction: column;
}

.venue-page-inner-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  margin-top: 20px;

  position: relative;
}

.venue-page-footer {
  height: 15%;
  margin-bottom: 30px;
  margin-top: 62px;
  min-width: 1080px;

  align-self: center;
  border-top: 3px solid #e3e3e3;
}