.searchable-venues-table-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.searchable-venues-table-content-container {
  margin-top: 20px;

  display: flex;
  justify-content: center;
}

.searchable-venues-table-search-form {
  opacity: 0.8;
  background-image: linear-gradient(97deg, #1e0db4, #e44747);
  display: flex;
  justify-content: center;
}

.searchable-venues-table-search-form-logo {
  margin-right: 58px;
  margin-bottom: 26px;
}

.searchable-venues-table-footer {
  height: 15%;
  margin-bottom: 30px;
  margin-top: 62px;
  min-width: 1080px;

  align-self: center;
  border-top: 3px solid #e3e3e3;
}