.venue-tip-container {
  width: 260px;
  height: 100px;

  padding-right: 34px;

  border-bottom: 1px solid #e4e4e4;
  display: flex;
}

.venue-tip-container:last-child {
  border: none;
}

.venue-tip-user-image-wrapper {
  margin-top: 19px;
  margin-left: 20px;
}

.venue-tip-user-image-container {
  width: 40px;
  height: 40px;
  margin-right: 20px;

  transform: rotate(-45deg);

  overflow: hidden;
}

.venue-tip-user-image {
  width: 60px;
  height: 60px;
  margin: -10px;

  transform: rotate(45deg);
}

.venue-tip-inner-container {
  margin-top: 32px;

  display: flex;
  flex-direction: column;
}

.venue-tip-user-full-name {
  font-family: Gotham, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #9b9b9b;
}

.venue-tip-text {
  height: 14px;

  font-family: 'Gotham', sans-serif;
  font-size: 14px;

  overflow: auto;

  margin-top: 18px;
}