.venue-tips-container {
  flex-basis: 290px;
  object-fit: contain;
  background-color: #ffffff;
  box-shadow: 0 0 34px 0 rgba(115, 95, 255, 0.32);

  display: flex;
  flex-direction: column;
  align-items: center;

  position: inherit;
  top: -69px;
}

.venue-tips-header {
  font-family: Gotham, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #4a4a4a;

  margin-top: 39px;
  margin-bottom: 27px;
}

.venue-tips-wrapper {
  display: flex;
  flex-direction: column;
}