.footer {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Gotham';
  font-size: 12px;
  font-weight: 500;
  color: #9b9b9b;
}

.footer div{
  margin-right: 10px;
  cursor: pointer;
}