@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Medium.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

body, form {
  margin: 0;
}

* {
  box-sizing: border-box;
}