.recent-search-list-item-container {
  width: 260px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recent-search-list-item-container:not(:last-child) {
  border-bottom: 2px solid #e4e4e4
}

.recent-search-list-item-link:hover {
  cursor: pointer;
}

.recent-search-list-item-link {
  cursor: pointer;
  text-decoration: none;
  color: #9b9b9b;
}